@font-face {
    font-family: Norse-Bold;
    src: url('/fonts/Norse-Bold.otf');
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Heebo;
    src: url('/fonts/Heebo/Heebo-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: Heebo, Roboto;
    overflow: hidden;
}

.section1{
    position: relative;
    width: 25vw;
    height: 100vh;
}

.section1 img{
    width: inherit;
    height: inherit;
}

.background-flex{
    position: absolute;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    background-color: rgb(25, 25, 25, 0.5);
}

.background-flex img{
    width: 7.5vw;
}

.background-flex p{
    font: 7.5vw Norse-Bold;
    color: #ffffff;
}

.section1 > p{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    color: #ffffff;
}

a:link{
    color:#ffffff;
}

.container{
    display: flex;
}

.section2{
    margin: auto 0;
}

.section2 > p{
    margin: 0 50px;
}

.form{
    width: 75vw;
    margin: 50px 0 25px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.form p{
    width: 75vw - 50px;
    margin: 0 50px;
}

.label{
    margin: 10px 50px;
}
label{
    font-size: 0.65em;
    font-family: Roboto;
}
button{
    width: 175px;
    height: 35px;
    margin: 0 50px 25px 50px;
    background-color: #596d48;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
}

.acc{
    margin: 0 50px;
}

.name, .contact, .pwd{
    display: flex;

}

.section2 > p{
    font-weight: 600;
    line-height: 1.25;
}

.section2 p:nth-child(2){
    margin-top: 15px;
}

input{
    width: 200px;
    border-radius: 3px;
    border: 1px solid rgb(158, 157, 157);
    padding-left: 5px;
}

input:focus{
    border-color: #0690be;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    outline: none;
}

.section2 a{
    color: #596d48;
    text-decoration: none;
    font-weight: 600;
}

#match{
    color: red;
    font-size: 0.75em;
}

.fix{
    margin-right: 0;
}